$blue: #007ac9;
$blue-disabled: rgba(0, 122, 201, 0.3);
$vivid-blue: #017ac9;
$blue-hover: #0073bd;
$gunmetal: #4d5357;
$battleship-gray: #6f7477;
$battleship-gray-opacity: #6f7477ff;
$disabled-gray: #d9e1e7;
$border-gray-dark: rgba(147, 151, 153, 0.3);
$border-gray-light: #f2f2f2;
$login-button-gray: #caced0;
$yellow: #f2a500;
$yellow-hover: #f6b220;
$yellow-star: #ffb726;
$red-error: #bb0000;
$red-error-opacity: #bb0000;
